.dashboard {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  main {
    margin-left: 65px;
    width: 100%;
    padding: 1rem;
  }
}

.board {
  gap: 20px;
  width: 100%;
  flex: 1;
}

.board__nav {
  height: 100%;
  justify-content: space-between;
  position: fixed;
  flex: 0.1;
  z-index: 5;
}

.board__nav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 10px;
  overflow-x: hidden;
  background-color: var(--color-sherbet);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.board__nav-logo {
  height: 35px;
  width: 35px;
  cursor: pointer;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.board__nav-links {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  a {
    cursor: pointer;
    padding: 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    gap: 15px;
    margin-bottom: 10px;
    width: 100%;

    svg {
      width: 25px;
      height: 25px;
      color: var(--white-color);
      font-weight: 900;
    }

    p {
      white-space: nowrap;
      color: var(--white-color);
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
    }

    &:hover {
      border-right: 4px solid var(--btn-blue);
      background: var(--color-sherbet-fade);
      transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
  }
}

.board__nav-settings {
  cursor: pointer;
  width: 100%;
  margin-top: auto;

  svg {
    width: 25px;
    height: 25px;
    color: var(--white-color);
    font-weight: 900;
  }
}

.active {
  background: var(--primary-color);
}

.board__content {
  flex: 0.7;
  width: 100%;

  .board__content-head {
    margin-bottom: 20px;
    color: var(--black-color);

    h1 {
      font-weight: 900;
      font-size: 2.5rem;
      letter-spacing: 1px;
    }

    p {
      font-weight: 500;
      font-size: 0.8rem;
      font-style: italic;
      letter-spacing: 3px;
    }

    .board-notes-mobile {
      display: none;
    }
  }

  .board__content-subject {
    height: 40%;
    margin-bottom: 50px;

    .subject-head {
      margin-bottom: 15px;
      width: 100%;

      h4 {
        font-weight: 800;
        font-size: 1rem;
        gap: 5px;

        span {
          font-size: 10px;
          font-weight: 900;
          width: 25px;
          height: 25px;
          background-color: var(--primary-color);
          border-radius: 50%;
        }
      }

      div {
        width: 10%;

        span {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          background-color: var(--primary-color);
          cursor: pointer;

          svg {
            color: var(--white-color);
          }

          &:hover {
            background-color: var(--white-color);

            svg {
              color: var(--third-color);
            }
          }
        }
      }
    }

    .subject-board {
      margin-bottom: 20px;
      width: 860px;
      max-width: 100%;
      min-width: 100%;
      overflow-x: visible;

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}

.swiper-slide > div {
  padding: 10px;
  min-width: 180px;
  max-width: 180px;
  min-height: 200px;
  max-height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(1, 1, 1, 0.1);
  justify-content: flex-start;
  align-items: flex-start;
  background: var(--white-color);

  article {
    width: 100%;
    h6 {
      font-size: 28px;
      font-weight: 600;

      span {
        font-size: 28px;
        font-weight: 700;
        color: var(--color-mint);
        opacity: 0.5;
      }
    }

    span {
      font-size: 14px;
      font-weight: 100;
      opacity: 0.9;
    }

    p {
      font-size: 28px;
      font-weight: 700;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .emoji {
      font-size: 24px;
    }

    // svg {
    //   z-index: 5 !important;
    //   border: 2px solid red;
    // }
  }
}

.board__content-activity {
  flex-wrap: wrap;
}

.board__content-activity {
  gap: 10px;
  width: 100%;
  // border: 1px solid green;

  .activity {
    min-width: 45%;
    max-width: 45%;
    div {
      margin-bottom: 10px;

      h4 {
        font-weight: 800;
        font-size: 1rem;

        span {
          font-size: 10px;
          font-weight: 900;
          width: 25px;
          height: 25px;
          background-color: #faf8f4;
          border-radius: 50%;
        }
      }

      span {
        cursor: pointer;
      }
    }

    section {
      background-color: #edebe8;
      padding: 10px;
      min-height: 240px;
      border-radius: 20px;
      box-shadow: 0 0 2px rgba(1, 1, 1, 0.1);

      div {
        span {
          width: 100%;
          justify-content: flex-start;

          svg {
            margin-right: 5%;
          }

          input {
            width: 80%;
            border: none;
            background-color: #edebe8;
          }
        }
      }
    }
  }
}

// schedule

.board-schedule {
  flex: 0.3;
  width: 100%;
}

.board__schedule-user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--color-lilac);
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.board__schedule > section {
  width: 100%;
}

.board-notes {
  gap: 20px;
  justify-content: flex-end;
}

.board__schedule {
  section {
    margin-bottom: 20px;
    position: relative;

    svg {
      margin-top: 20px;
      width: 30px;
      height: 30px;
      color: var(--primary-color);
      cursor: pointer;
    }

    span {
      font-size: 10px;
      font-weight: 900;

      height: 15px;
      width: 15px;
      border-radius: 50%;
      background-color: var(--secondary-color);

      position: absolute;
      top: 30%;
      left: 0;
    }
  }
}

// --------------------------------------------------------------------------------------------------------------------//

@media screen and (max-width: 900px) {
  .dashboard {
    width: 100%;

    main {
      margin-left: 0;
      width: 100%;
      padding: 1rem;
    }
  }

  .board {
    gap: 20px;
    width: 100%;
    flex: 1;
    flex-direction: column;
  }

  .board__nav {
    display: none;
  }

  .borad__nav-mobile {
    position: fixed;
    z-index: 5;
    height: 100%;
    justify-content: space-between;
    flex: 0.1;
    z-index: 5;

    article {
      bottom: 10%;
      left: 10%;
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 10px;
      background-color: var(--primary-color);
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

      svg {
        width: 100%;
        height: 100%;
      }
    }
    // height: 100%;
    // justify-content: space-between;
    // flex: 0.1;
    // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  }

  .board__schedule > section {
    display: none;
  }

  .board__content {
    flex: 1;
    width: 100%;

    .board__content-head {
      flex: 1;

      h1 {
        font-size: 3rem;
      }

      p {
        font-size: 1rem;
      }

      .board-notes-mobile {
       display: block;
        width: 40%;
        z-index: 10 !important;

        section {
          margin-bottom: 20px;
          position: relative;

          svg {
            margin-top: 20px;
            width: 30px;
            height: 30px;
            color: var(--primary-color);
            cursor: pointer;
          }

          span {
            font-size: 10px;
            font-weight: 900;

            height: 15px;
            width: 15px;
            border-radius: 50%;
            background-color: var(--secondary-color);

            position: absolute;
            top: 30%;
            left: 0;
          }
        }
      }
    }

    .board__content-subject {
      margin-bottom: 35px;

      .subject-head {
        margin-bottom: 15px;

        h4 {
          flex: 0.8;
          font-size: 1.5rem;
          text-align: left;
          justify-content: flex-start;

          span {
            font-size: 14px;
            width: 30px;
            height: 30px;
          }
        }

        div {
          flex: 0.1;
          justify-content: center;
          gap: 10px;
        }
      }

      .subject-board {
        .swiper-slide {
          justify-content: center;
        }
      }
    }
  }

  .swiper-slide > div {
    padding: 10px;
    width: 200px;
    height: 200px;
    min-width: none;
    max-width: none;
    min-height: none;
    max-height: none;
    border-radius: 20px;
  }

  .board__content-activity {
    .activity {
      min-width: 45%;
      max-width: 45%;

      div {
        margin-bottom: 10px;

        h4 {
          font-weight: 800;
          font-size: 1rem;

          span {
            font-size: 10px;
            font-weight: 900;
            width: 25px;
            height: 25px;
            background-color: #faf8f4;
            border-radius: 50%;
          }
        }

        span {
          cursor: pointer;
        }
      }

      section {
        min-height: 260px;
        box-shadow: 0 0 2px rgba(1, 1, 1, 0.1);

        div {
          span {
            width: 100%;
            justify-content: flex-start;

            svg {
              margin-right: 5%;
            }

            input {
              width: 80%;
              border: none;
              background-color: #edebe8;
            }
          }
        }
      }
    }
  }

  .board-schedule {
    flex: 1;
  }

  .board__schedule {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .board__schedule > div {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .dashboard {
    main {
      padding: 1rem;
    }
  }

  .board__content {
    .board__content-head {
      flex: 1;

      .heading {
        flex: 0.6;
        h1 {
          font-size: 1.5rem;
        }
  
        p {
          font-size: 0.8rem;
        }
      }

      .board-notes-mobile {
        flex: 0.3;

        .board-notes {
          gap: 5px;
        }
      }
    }

    .board__content-subject {
      margin-bottom: 40px;
      .subject-head {
        h4 {
          flex: 0.6;
          font-size: 1rem;
        }

        div {
          flex: 0.2;
        }
      }

      .subject-board {
        width: 360px;
        max-width: 100%;
        min-width: 100%;

        .swiper-slide {
          justify-content: center;
        }
      }

      .swiper-slide > div {
        width: 100%;
        height: 160px;
        max-width: 100%;
        min-height: none;
        min-width: none;
      }
    }
  }

  .board__content-activity {
    flex-direction: column;
    margin-bottom: 40px;

    .activity {
      min-width: none;
      max-width: none;
      width: 100%;
    }
  }

  .board-schedule {
    flex: 1;
  }

  .board__schedule {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    section:nth-child(1) {
      display: none;
    }
  }

  .board__schedule > div {
    width: 100%;
  }
}
