nav {
  padding: 2.8rem 6.25rem;
  width: 100%;
}

.nav__logo {
  h1 {
    color: var(--black-color);
    font-weight: 700;
    font-size: 20px;
  }
}

.nav__links {
  gap: 3.4rem;

  li {
    list-style: none;

    a {
      text-decoration: none;
      text-transform: capitalize;
      color: var(--black-color);
      font-weight: 500;
      font-size: 18px;
    }

    .dropdown{
      display: none;
   

      p{
        padding: 5px 0;
      }
    }
  }
  .drop:hover .dropdown{
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    padding: 10px 0;
  }
}

.nav__user {
  gap: 36px;

  a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--black-color);
    font-weight: 500;
    font-size: 18px;
  }

  .sign-up {
      border: 1px solid var(--primary-color);
      border-radius: 10px;
      color: var(--primary-color);
      padding: 11px 17px;
  }
}

@media screen and (max-width: 900px) {
  nav {
    padding: 2.8rem 3rem;
  }
  .nav__links {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  nav {
    padding: 2.8rem 1.5rem;
  }
}
