.statistics {
    background: var(--primary-color);
    padding: 5.6rem 6.25rem 16.9rem;

    h1 {
        text-align: center;
        margin-bottom: 166px;
    }

    div {
        gap: 2rem;
    }
}

.statistics-content {
    flex-direction: column;

    h2 {
        color: var(--black-color-secondary);
        font-weight: 700;
        font-size: 35px;
        text-align: center;
    }

    p {
        font-size: 20px;
        text-align: center;
        line-height: 24.2px;
    }
}

// <-------------------------------- Media Query -------------------------------------------------------------------------->

@media screen and (max-width: 900px) {
    .statistics {
        padding: 6rem 3rem;
    
        h1 {
            margin-bottom: 80px;
        }
    
        div {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 550px) {
    .statistics {
        padding: 6rem 1.5rem;
    
        h1 {
            margin-bottom: 80px;
        }
    
        div {
            flex-wrap: wrap;
            width: 100%;
        }
    }
}