.statistics {
    flex: 1;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background: rgba(31, 45, 70, 0.8);
    padding: 0 6.25rem;
    color: var(--white-color);

    h1 {
        text-align: center;
        margin-bottom: 6rem;
        color: var(--white-color);
        font-style:oblique;
    }

    div {
        gap: 2rem;
    }
}

.statistics-content {
    flex-direction: column;

    h2 {
        color: var(--black-color-secondary);
        font-weight: 700;
        font-size: 35px;
        text-align: center;
        color: var(--white-color);
    }

    p {
        font-size: 20px;
        text-align: center;
        line-height: 24.2px;
    }
}

// <-------------------------------- Media Query -------------------------------------------------------------------------->

@media screen and (max-width: 900px) {
    .statistics {
        padding: 6rem 3rem;
    
        h1 {
            margin-bottom: 80px;
        }
    
        div {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 550px) {
    .statistics {
        padding: 6rem 1.5rem;
    
        h1 {
            margin-bottom: 80px;
        }
    
        div {
            flex-wrap: wrap;
            width: 100%;
        }
    }
}